<%= link_to user_path(13) do %>
  <div class="user-card">
    <img src="<%= image_path('logo.png') %>" alt="User Photo" class="user-img">
    <section class="info">
      <h3 class="name">User Name</h3>
      <span class="posts-num">Number of posts</span>
    </section>
  </div>
<% end %>
