<h2>Post</h2>
<div class="post-container">
  <%= render partial: "shared/post", locals: { post: @post, user: @user} %>
  <%= render partial: "shared/comment_like_form"%>
  <% @comments.each do |comment|%>
    <% user = User.find(comment.author_id)%>
    <%= render partial: "shared/comment", locals: { comment: comment, user: user } %>
  <%end%>
</div>
