* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
}

h2 {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.content {
  width: 80%;
  flex-grow: 1;
}

.user-card {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 1rem;
  border: solid 1px skyblue;
  box-shadow: 0 0 4px 1px skyblue;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.user-card:hover {
  background-color: rgb(255, 228, 232);
}

.user-card:active {
  background-color: pink;
}

.user-card .user-img {
  width: 10rem;
}

.user-card .info {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.user-card .name {
  display: flex;
  align-items: center;
  font-size: 24px;
  flex-grow: 2;
}

.user-card .posts-num {
  align-self: flex-end;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.all-posts-btn {
  padding: 4px;
  width: fit-content;
  border: solid 1px red;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  display: flex;
  gap: 1rem;
}

.post-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 1rem;
  border: solid 1px blue;
  box-shadow: 2px 2px 4px lightblue;
}
.post-card:hover {
background: rgb(194, 219, 227);
}

.post-info {
  border: solid 1px red;
  padding: 1rem;
}

.post-card .counters {
  align-self: flex-end;
  font-size: 12px;
}

.post .post-header {
  display: flex;
  align-items: baseline;
}

.post .title {
  flex-grow: 1;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ignored {
  display: contents;
}

.comment-like-form-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.comment-field {
  width: 100%;
  resize: vertical;
  min-height: 5rem;
  margin-bottom: 1rem;
  padding: 8px;
  border: none;
  background: lightseagreen;
  color: white;
}

.comment-field:focus {
  background: rgba(127, 255, 212, 0.788);
  border: none;
  outline: solid 1px yellowgreen;
  color: darkgreen;
}

.comment-btn {
  flex: 1;
  margin-right: 1rem;
  padding: 8px;
}

.like-btn {
  flex: 1;
  margin-left: 1rem;
  padding: 8px;
}

[class$="-btn"] {
  border: solid 2px green;
  background-color: lightgreen;
  color: green;
}

[class$="-btn"]:hover {
  border: solid 2px lightgreen;
  background-color: green;
  color: lightgreen;
}

[class$="-btn"]:active {
  background-color: rgb(1, 55, 1);
}